mixin s-deliver-city()
	// start s-deliver-city
	+b.SECTION.s-deliver-city.section.block-with-lazy#s-deliver-city&attributes(attributes)
		.container
			.main-block
				+e.H2.title.block-title Доставка медицинских справок 026/у по Москве
				.row
					+e.item.col-12.col-md-6
						+e.item-header
							+e.IMG.item-image(src="img/deliver-city-1.png" alt="#")
							+e.item-number 01
						+e.item-title Звонок/Заявка
						+e.A.phone-block(href="tel:+7(495)108-74-55")
							+e.phone-first +7 (495) 
							+e.phone-second 108-74-55
						+e.item-text с 09:00 - 22:00 по Мск
						+e.item-text или оформляете заявку с сайта
					+e.item.col-12.col-md-6
						+e.item-header
							+e.IMG.item-image(src="img/deliver-city-2.png" alt="#")
							+e.item-number 02
						+e.item-title Консультация
						+e.item-text Ожидайте звонка оператора. Мы&nbsp;уточним все необходимые детали и&nbsp;сразу приступим к&nbsp;оформлению документа.
					+e.item.col-12.col-md-6
						+e.item-header
							+e.IMG.item-image(src="img/deliver-city-3.png" alt="#")
							+e.item-number 03
						+e.item-title Оформление
						+e.item-text Грамотно заполняем и&nbsp;выдаем официально заполненную медицинскую справку 026/у на&nbsp;законных основаниях.
					+e.item.col-12.col-md-6
						+e.item-header
							+e.IMG.item-image(src="img/deliver-city-4.png" alt="#")
							+e.item-number 04
						+e.item-title Доставка
						+e.item-text В&nbsp;пределах кольцевой станции метрополитена доставка БЕСПЛАТНА! <br>Доставка на&nbsp;адреса и&nbsp;другие станции метро в&nbsp;пределах МКАД&nbsp;&mdash; 500&nbsp;рублей!
	// end s-deliver-city