 .soc {
 	margin: 0 -5px;

 	&__item {
 		display: inline-block;
 		text-decoration: none !important;
 		margin: 0 5px;
 		vertical-align: middle;
 		@include mt;

 		&:hover {
 			// box-shadow: 0 0 33px 0px rgba(255, 83, 0, 0.16);
 			opacity: .6;
 		}
 	}

 	svg {
 		width: 31px;
 		height: 31px;
 	}


 }


 .counter {
 	counter-reset: num;

 	&__item {
 		position: relative;

 		&::before {
 			content: counter(num);
 			counter-increment: num;
 		}
 	}
 }


 .container-with-sticky {
 	position: absolute;
 	top: 0;
 	right: 0;
 	width: 43%;
	 height: 100%;
	 @include media-breakpoint-down(lg) {
		width: 100%;
		display: flex;
		justify-content: flex-end;
		padding-right: rem(40);
	 }
	 
	 &__toggle-block--js{
		 @extend .btn;
		 @extend .btn-secondary;
		 position: absolute;
		 right: 100%;
		 cursor: pointer;
		 max-width: rem(100);
		 margin-right: rem(20);
		 z-index: 999;
		 @include media-breakpoint-down(xs) {
			 bottom: 100%;
			 margin-bottom: rem(10);
			 &.active{
				 left: 0;
			}
		 }
		}
		&__sticky-block {
			@include mt;
			@include media-breakpoint-up(xl) {
			 transform: translateX(0) !important;
			}
		 //  @include media-breakpoint-down(sm) {
				
		 //  } 
			transform: translateX(115%);
		 margin: rem(20) 0 0 rem(20);
			&.active{
				transform: translateX(0);
				z-index: 999;
			}
		}
	 &__form-block{
		 box-shadow: 0px 8px 30px rgba(0, 0, 0, 0.07);
		 border-style: solid;
		 border-width: 1px;
		 border-color: #DFDFDF;
		 padding: rem(20) rem(35);
		 background-color: #fff;
		 position: relative;
		 z-index: 2;
		 margin-bottom: rem(30);
		}
		&__main-block {
			margin-left: rem(60);
			position: relative;
			max-width: rem(380);
			z-index: 2;
			@include media-breakpoint-down(lg) {
				margin-left: 0;
			 }
			&::before{
				content: "";
				width: rem(446);
				height: rem(446);
				background-color: $primary;
				border-radius: 50%;
				@include a-cent();
				z-index: -1;
				@include media-breakpoint-down(lg) {
					content: none;
				 }
			}
	 }
	 .btn-slide{
		 text-align: center;
		 .btn-main{
			max-width: rem(235);
			padding: rem(13) 0;
			margin-top: rem(10);
			margin-bottom: rem(15);
		 }
	 }
	 &__title{
		 color: $primary;
		 font-size: rem(26);
		 font-weight: 700;
		 text-align: center;
		 max-width: rem(250);
		 margin: 0 auto rem(10);
	 }
	 &__link{
		 text-align: center;
		 display: block;
		 width: 100%;
		 text-decoration: underline;
		 &:hover{
			 color: $primary;
		 }
	 }
 }

 .articles-sticky{
	 margin-top: rem(77);
 }