mixin s-contact()
	// start s-contact
	+b.s-contact.section.block-with-lazy#s-contact&attributes(attributes)
		.container
			.row
				+e.contact-col.col-12.col-md.d-flex.d-md-block.align-items-center
					+e.col-title Контакты
					.block
						+e.item
							+icon("call")
							+e.item-main
								+e.A.phone(href="tel:+7(495)108-74-55") +7 (495) 108-74-55
								+e.text Время работы с 09:00 - 22:00 по МСК
						+e.item
							+icon("mail")
							+e.item-main
								+e.A.mail(href="mailto:mail@spravki-026.com") mail@spravki-026.com

						+e.item
							+icon("placeholder")
							+e.item-main
								+e.text г. Москва, ул. Новый арбат, 3, оф. 215
				+e.map-col.col-12.col-md.order-xl-last
					<script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3A728c1c9f9f83f5aeb21a5dc67356b816f13c0d81911ac8b425fabe1128cf1511&amp;width=380&amp;height=380&amp;lang=ru_RU&amp;scroll=false"></script>
				+e.form-col.col-12.col-xl-auto
					+e.col-title Задать вопрос
					+e.form
						+form-wrap
							+input("","Введите Ваше имя")
							+input("tel","Введите номер телефона")
							+ta("Введите вопрос","")
							.btn-form
								+b.BUTTON.btn-main(type="submit") Задать вопрос
			+e.page-up-block
				+e.A.page-up.scroll-link(href="#header-block")
					+e.page-up-text В начало
					+e.IMG.page-up-image(src="img/page-up.png" alt="#")
	// end s-contact